<h1>Information de connexion :</h1>

<strong>Lien de connexion :</strong> <a href="{{ url('app_login') }}" target="_blank"> login </a> <br>
<strong>Email :</strong> {{ mail }} <br>
<strong>Mot de passe :</strong> {{ password }} <br>


<p>
    Cordialement!
</p>
