{% extends 'layouts/base.html.twig' %}

{% block title 'Mettre à jour Nature opération pour marchés Reconductible' %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto mt-5">
			<h1 class="text-center">Mettre à jour Nature opération pour marchés Reconductible</h1>

			{{ form_start(form) }}
				{{ form_widget(form) }}

				<input type="submit" value="Enregistrer" class="btn btn-primary btn-block" formnovalidate>
			{{ form_end(form) }}
		</div>
	</div>


{% endblock %}
