<form method="post" action="{{ path('nature_recette_delete', {'id': nature_recette.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('nature_recette_' ~ nature_recette.id) }}">
    <button class="btn">Delete</button>
</form>
