{# <footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot; 
            Built with <span class="text-danger">&hearts;</span> by Youness ARBOUH.
        </small>
    </p>
</footer> #}

 <!-- Main Footer -->
<footer class="main-footer">
<!-- To the right -->
<div class="float-right d-none d-sm-inline">
    
</div>
<!-- Default to the left -->
<strong>&copy; {{ 'now'|date('Y') }} <a href="#">ArchiCRTS</a>.</strong> All rights reserved.
</footer>