{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier Devise' %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto mt-5">
			<h1 class="text-center">Modifier Devise</h1>

			{{ form_start(form) }}
				{{ form_widget(form) }}

				<input type="submit" value="Enregistrer" class="btn btn-primary btn-block" formnovalidate>
			{{ form_end(form) }}
		</div>
	</div>


{% endblock %}
