{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Profile' %}

{% block body %}

	<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit Profile</h1>
          </div>
		   <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Edit Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	<!-- Main content -->
    <section class="content">
	{{ form_start(form) }}
		<div class="row">
			<div class="col-md-6 mx-auto">
				<div class="card card-primary">
				<div class="card-body">
					{{ form_widget(form) }}
				</div>
				<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>
          <!-- /.card -->
      <div class="row">
        <div class="col-6 mx-auto">
          <input type="submit" value="Enregistrer" class="btn btn-primary btn-block mb-5" formnovalidate>
        </div>
      </div>
	  {{ form_end(form) }}
    </section>
    <!-- /.content -->
{% endblock %}
